body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('../assets/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

header {
    text-align: center;
    padding: 15px;
    font-family: 'Pacifico', cursive;
}

header h1 {
    color: #d69ee2;
    font-size: 50px;
    font-weight: lighter;
}

#eventName {
    color: #d69fa6;
    font-family: 'Pacifico', sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.col-lg-6:first-of-type{
    border-right: 1px solid gray;
}
.col-lg-6:last-of-type{
    border-left: 1px solid gray;
}


.showEventCount {
    text-align: center;
}

input[type="button"] {
    font-size: 20px;
    width: 125px;
    padding: 10px;
    background-color: deepskyblue;
    color: white;
    border: none;
}

input[type="button"] {
    background-color: cornflowerblue;
}

input[type="button"]:active {
    background: cornflowerblue;
}

#loadEvent:hover {
    background: cornflowerblue;
}

#createEvent:hover {
    background: cornflowerblue;
}

input[type="date"] {
    text-align: right;
    font-weight: bold;
    width: 250px;
    font-size: 26px;
    background-color: cornflowerblue;
    border: 2px solid rgb(30, 129, 210);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="text"] {
    height: 32px;
    width: 250px;
    padding: 10px 15px;
    font-size: 20px;
}

.formsEventGETorPOST{
    width: 100%;
}

.data-view {
    display: inline-block;
}

.time-box {
    background-image: linear-gradient(to left top, #1b59b7, #2a54ba, #394fbd, #4849be, #5741be);
    width: 120px;
    height: 110px;
    position: relative;
}

.smallInfo{
    font-size: 16px;
    font-weight: bold;
    color: rebeccapurple;
}

.time-box h1 {
    position: absolute;
    color: white;
    font-weight: lighter;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.formsEventGETorPOST{
    display: flex;
}

.form-column {
    flex: 50%;
    border-left: 1px solid white;
}

.visible {
    visibility: unset;
}

.hidden {
    visibility: hidden;
    height: 0;
}

@media (max-width:992px){
    .col-lg-6:first-of-type{
        border-right: none;
    }
    .col-lg-6:last-of-type{
        border-left: none;
        margin-top: 40px;
    }
    
}
@media (max-width:600px){
header h1{
    font-size: 36px;
    margin-top: 0px;
}
.formsEventGETorPOST{
    display: flex;
  flex-direction: column;
}
.column{
    padding: 0px;
}
input[type="text"]{
    height: 16px;
}
input[type="date"]{
    padding: 5px 15px;
}
.form-column{
    width: 100%;
    border-left: none;
    background-color: rgba(0,0,0,0.5);
    color: gray;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px 0px;
}
#createEventForm{
    float: none;
    padding: 0px;
}
#get-event-form{
    padding-left: 0px;
}
#createEventForm h2{
    text-align: center;
}
.time-down-clock{
    width: 96%;
    margin-left: 2%;
}
.time-box{
    width: 87px;
    height: 65px;
}
.eventName{
    margin-top: 0px;
}
.smallInfo{
    color: cadetblue;
}
}